.consultation-request-modal {
  background-color: #263238;
  padding: 0px;
  h3 {
    text-align: center;
    color: #cacdcd;
  }
}

.table {

}

.consultation-table {

  .close-icon {
    float: right;
    height: 0px;
    top: -28px;
  }

  .material-table .footer {
    margin-top: 0px;
    border: none;
  }
  .material-table .edit {
    display: inline-block;
    vertical-align: bottom;
    padding: 0px;
    margin-top: 5px;
  }

  thead {
    tr {
      display: flex;
      flex-direction: row;
      width: 100%;
      td {
        width: 20%;
      }
    }
  }
  .search {
    input {
      width: 100%;
      padding: 0px 10px 0 25px;
      font-size: 14px;
    }
  }
  tbody {
    ol {
      padding-left: 20px;
    }
    tr {
      cursor: pointer;
      display: flex;
      &:hover {
        background-color: #eee;
      }
      td {
        text-align: left;
        font-weight: 500;
        width: 100%;
        li {
          font-weight: 500;
        }
        md-input-container {
          padding-bottom: 0px;
        }
      }
    }
  }
}

.close-icon {
  margin-right: 7px;
  position: relative;
  cursor: pointer;
  &:after {
    color: #ff5722;
    font-size: 14px;
    content: '✖'
  }
}

.consultation-request-modal-btns {
  display: flex;
  flex-direction: column;
  order: 3;
  background-color: #fff;
  padding: 15px;
}

.consultation-request-modal-actions {
  background-color: #fff;
  justify-content: center;
  flex-direction: column;
  padding: 15px;
  md-input-container {
    width: 100%;
  }
}

.form-error {
  display: block;
  background-color: #D32F2F;
  color: #fff;
  padding: 12px 20px;
  position: relative;
  width: 100%;
}

.form-item-container {
  background-color: transparent;
  border: none;
  padding: 0px;
  box-shadow: none;
}

.search-by-all-fields {
  margin-bottom: 0px;
  md-input-container {
    padding-bottom: 0px;
  }
}

.find-consulttion {
  padding: 25px;
  margin: 20px;
  border-radius: 2px;
  border: 1px solid #ddd;
  .header {
    padding-right: 10px;
  }
  h3 {
    color: #747879;
  }
}

#add_consultation {
  .form-item-container .list-inline input {
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 0px;
    box-shadow: none;
  }

  md-select {
    font-weight: 700;
  }

  .md-default-theme {
    label {
      top: -20px;
    }
  }

  .md-input-focused {
    label {
      top: auto;
    }
  }

  .dropdown-menu li {
    border: none;
    padding: 0px;
    .ui-select-choices-row {
      display: block;
      margin-bottom: 10px;
    }
  }

  .dropdown-menu li:hover,
  .dropdown-menu li.selected {
    background-color: transparent;
    border-left: none;
  }

  .ui-select-choices-row.selected,
  .ui-select-choices-row:hover,
  .dropdown-menu li .ui-select-choices-row:hover,
  .ui-select-bootstrap .ui-select-choices-row > span:hover {
    background-color: #ff5722;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ff5722), color-stop(90%, #ab492b));
    background-image: -webkit-linear-gradient(#ff5722 20%, #ab492b 90%);
    background-image: -moz-linear-gradient(#ff5722 20%, #ab492b 90%);
    background-image: -o-linear-gradient(#ff5722 20%, #ab492b 90%);
    background-image: linear-gradient(#ff5722 20%, #ab492b 90%);
    color: #fff;
  }

}

.consultations {
  .action-table {
    height: 0px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    -webkit-transform: translateY(-150px);
    -ms-transform: translateY(-150px);
    transform: translateY(-150px);
  }

  .display-table {
    height: auto;
    opacity: 1;
    visibility: visible;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.your-consultations {
  height: auto;
  opacity: 1;
  visibility: visible;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.hide-table {
  height: 0px;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-150px);
  -ms-transform: translateY(-150px);
  transform: translateY(-150px);
}

.autocomplete-list {
  ul {
    overflow: auto;
    max-height: 400px;
  }
}

#add_consultation {
  max-width: 90%;
  margin: 20px auto;
  display: flex;
  flex-flow: column;

  multiple-autocomplete, select {
    display: block;
    order: 2;
  }

  h3 {
    margin-top: 10px;
  }

  h2 {
    text-align: left;
  }
}

#add_consultation {
  button {
    margin-top: 10px;
    margin-right: auto;
  }
}

.consultations-block-header {
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  font-weight: 500;
  background-color: #304047;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  width: calc(~'100% + 60px');
  margin-left: -30px;
  margin-top: -20px;
  position: relative;
  top: -25px;
  margin-bottom: 0px;
}

#add_consultation {
  padding: 10px 30px 20px 30px;
  background-color: #ffffff;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
}

#add_consultation .chosen-container-multi .chosen-choices {
  border: 0px;
  border-bottom: 1px solid #aaa;
  background-image: none;
  box-shadow: none;
}

#add_consultation .chosen-container-active
label {
  color: #ff5722;
}

.chosen-choices {
  border: 0px;
  border-bottom: 2px solid #ff5722;
  background-image: none;
  box-shadow: none;
}

.chosen-container .chosen-results li.highlighted {
  background-color: #ff5722;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(20%, #ff5722), color-stop(90%, #ab492b));
  background-image: -webkit-linear-gradient(#ff5722 20%, #ab492b 90%);
  background-image: -moz-linear-gradient(#ff5722 20%, #ab492b 90%);
  background-image: -o-linear-gradient(#ff5722 20%, #ab492b 90%);
  background-image: linear-gradient(#ff5722 20%, #ab492b 90%);
  color: #fff;
}

#add_consultation md-input-container
.chosen-container {
  order: 1;
}

.chosen-container-multi {
  order: 1;
}

.active-label {
  color: #ff5722;
  font-size: 12px;
}

md-input-container label:not(.md-no-float), md-input-container .md-placeholder {
  order: 0;
}

.ui-select-multiple.ui-select-bootstrap {
  border-radius: 0px;
  border: none;
  box-shadow: none;
}

.ui-select-multiple.ui-select-bootstrap input.ui-select-search {
  border-bottom: 1px solid #eee;
}

.ui-select-multiple.ui-select-bootstrap input:active,
.ui-select-multiple.ui-select-bootstrap input:focus,
.ui-select-multiple.ui-select-bootstrap input.selected {
  border-bottom: 2px solid #ff5722;
}

.ui-select-bootstrap .ui-select-choices-row.active > span {
  background-color: transparent;
  color: #333;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match .close {
  font-size: 1.2em;
}

.account-settings-modal {
  .select-label {
    label {
      top: -20px;
    }
  }

  .md-input-focused {
    label {
      top: auto;
    }
  }
}

.show_responce {
  background-color: #304047;
  color: #fff;
  padding: 10px;
  margin-top: 15px;
  text-align: center;
}

.show_modal_responce {
  background-color: #304047;
  color: #fff;
  padding: 10px;
  text-align: center;
  order: 2;
}

.limits {
  height: 40px;
  position: relative;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  margin: 0px 10px;
  .limit-input {
    padding: 8px;
  }
}

.type-select {
  padding: 10px 25px;
  display: flex;
  flex-direction: row;

  md-select {
    margin: auto;
    margin-left: 0px;
  }

  label {
    margin-right: 10px;
    margin-bottom: 0px;
    color: #737373;
    font-weight: 500;
    font-size: 14px;
    line-height: 2.2em;
  }

}